<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {% endblock %}
      {% if page %} 
        {{ page.title }}
      {% else  %} 
        {{ section.title }}
      {% endif %}
    </title>
    <meta name="author" content="Yamato Miura">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheet.css">
    {% block head %}{% endblock %}
  </head>

  <body>
    <nav>
      <h1>Yamato Miura</h1>
      <a href="/">Home</a> 
      <a href="/projects">Projects</a> 
      <a href="/art">Art</a> 
      <a href="/robots">Robots</a>
      <a href="/blog">Blog</a> 
    </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>

  <footer>
    {% block footer %}{% endblock %}
  </footer>
</html>
