{% extends "base.html" %}

{% block head %}
<script src="https://cdnjs.cloudflare.com/polyfill/v3/polyfill.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

{% endblock head %}

{% block content %}
<h1>
    {{ section.title }}
</h1>
{% for page in section.pages %}
<div style="padding-bottom: 20px;"> 
    <h3><a href="{{ page.path}}">{{ page.title }}</a></h3>
    <small>{{ page.date }} (Last updated {{ page.updated }})</small>
    {% set words = page.content | split(pat=" ") %}
    
    {% if words | length > 100 %}
        {{ words | slice(end=100) | join(sep=" ") | safe }}<a href="{{ page.path}}">...</a>
    {% else %}
        {{ page.content | safe}}
    {% endif %}
</div>
{% endfor %}
{% endblock content %}
